*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}
p{
    font-size: small;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(blog.jpg);
    background-size: auto;
    background-position: center;
}
.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: fit-content;

}
.logotek{
    display: flex;    
}   
.nav_links{
    list-style:none;
    margin:0;
    padding:0;
    text-align:right;
}
.nav_links li{
    display:inline;
    font-weight: bold;
}
.nav_links a{
    display:inline-block;
    padding:10px;
    color:black;
    text-decoration: none;
}
.nav_links li a{
    color: black;
}
.nav_links li a:hover{
    background: #a9a6aa;
    color: black;
    border-radius: 100px;
}
.container{
    width: 50%;
    margin: auto;
    text-align: center;
    background-color:transparent;
    margin-top: 10px;
}
.tombol{
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: auto;
}
button{
    width: 150px;
    padding: 5px ;
    border-radius: 20px;
    text-align: center;
    border: 2px solid black;
    background: transparent;
    cursor: pointer;
    font-weight: 600;   
}

.contain{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: #a9a6aa;
}
table{
    margin: auto;
    text-align: center;
} 
td {
    padding: 10px;
}
table p {
    text-align: left;
}
.saran{
    background-color:#a9a6aa;
    margin-top: 10px;
    height: fit-content;
}
.saran .kotak {
    width: fit-content;
    height: fit-content;
    margin: auto;

}
.saran .kotak table {
    text-align: center;
}